
body {
    margin:0px;
    background: #6b5b95;
}

.fas{
    color: blue;
}

.wrapper{
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.banner {
    background: cornflowerblue;
    flex:1;
    display: flex;
    flex-direction: row;
    border:solid;
}

.empty_box {
    flex:2;
    display: flex;
    background: cornflowerblue;
    justify-content: center;
    align-items: center
}

.circle {
    justify-content: center;
    flex:1;
    display: flex;
    
}

.logo {
    /* max-width: 100%; */
    max-height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
}

.i{
    flex:2;
    display: flex;
    background: cornflowerblue;
    justify-content: center;
    align-items: center

}

.buttons {
    flex:5;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    

}

.buttons > * {
    flex: 1;
    display: flex;
    background: darkgreen;
    width: 100%;
    border:solid;
    color: white;
    margin:5px;
    border-radius: 10px;
    font-size: 22px;
    font-family: sans-serif;
  
    align-items: center;
    justify-content: center;
    text-decoration: none;

}


/******************* Locations ****************/

.bodycontent {
    display: flex;
    flex:5
}

.grid {
    display:flex;
    flex-direction: column; 
    /* align-items: center */
    

}

.school {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-self: center */
    /* flex-direction: column */
    /* flex-direction: column; */
    /* align-items: flex-end */
}

.col-1-3 {
    /* align-self: center; */
    /* background: blue */
}

.col-2-3 {
    /* align-self: center; */
    /* background: yellow; */
}